*{
    font-family: arial;
    font-size: 16px;
}
body{
    background-color:rgb(221, 186, 254);
}
main{
    position: absolute;
    top: 0%;
    left: 25%;
    background-color: rgb(255, 255, 255);
    width: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.47);
}
p{
    text-align: justify;
}
.imgPerfil{
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 460px;
    height: auto;
    border: solid 2px black;
    position: relative;
    left:10%;
	top:0%;
}